* {
    margin : 0;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 206, 206);
    justify-content: flex-end;
    align-items: flex-start;
}
.box {
    padding : 35px;
    margin : 10px;
    color : white;
    background-color: orangered;
    font-size: 30px;
}
.b2 {
    height : 100px;
}